{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <img class="img-thumbnail" src="{% static 'dcpython-logo.png' %}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-3"> 
              <div id="mission-statment">   
                <h1>We <a href="{% url 'about' %}">promote and support</a> the use of Python software in DC</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 offset-md-2"> 
              <ul class="links">
                <li><h2><a href="http://meetup.com/DCPython">Meetup</a></h2>
                  <ul>
                    <li><h3><a href="http://www.meetup.com/DCPython/messages/boards/forum/617991">Job Board</a></h3></li>
                    <li><h3><a href="http://www.meetup.com/DCPython/messages/archive/">Mailing List</a></h3></li>
                    <li><h3><a href="http://www.meetup.com/DCPython/members/">Members</a></h3></li>
                    <li><h3><a href="http://www.meetup.com/DCPython/photos/">Photos</a></h3></li>
                    <li><h3><a href="http://www.meetup.com/DCPython/files/">Slides</a></h3>
                    <li><h3><a href="http://www.meetup.com/DCPython/sponsors/">Sponsors</a></h3></li>
                  </ul>
                </li> 
                <li><h2><a href="https://youtu.be/sn_S5hiLFys?list=PLuR1m4i4Xxlugehck4lRS_QJM2DhOw4Op">Videos</a></h2></li>
              </ul>
            </div>
            <div class="col-md-5">
              <ul class="links">
                <li><h2><a href="http://chat-logs.dcpython.org/channel/dcpython">Chat Logs</a></h2></li>
                <li><h2><a href="http://docs.dcpython.org">Documentation</a></h2></li>
                <li><h2><a href="http://github.com/DCPython">GitHub</a></h2></li>
                <li><h2>Slides</h2>
                  <ul>
                    <li><h2><a href="http://slideshare.net/dcpython">More Slides</a></h2>
                    <li><h2><a href="http://slideshare.net/aclark">Even More Slides</a></h2></li>
                  </ul>
                </li>
                <li><h2><a href="http://twitter.com/DCPython">Twitter</a></h2></li>
              </ul>
            </div>
          </div>
{% endblock %}
